<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Is it the weekend</title>
  </head>
  <body>
  <% if (kindOfDay=== "Wednesday"){ %>
    <h1 style="color: purple">it is a <%=kindOfDay%> to do list</h1>
  <% }else{ %>
    <h1 style="color: blue">it is a <%=kindOfDay%> to do list</h1>
  <%}%>
  </body>
</html>
